* {
  margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
  text-align: center;
  background-color: #F9E3A2;
}

.container {
  margin-top: 100px;
  display: flexbox;
}

h1 {
  margin-bottom: 100px;
  color: #944e6c;
  font-size: 100px;
  line-height: 1.5em;
}
p {
  margin: 20px;
  color:#21209c;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 20px;
  line-height: 1.5em;
  font-size: 50px;
}

button {
  font-size: 50px;
  color: #FFFF;
  padding: 20px;
  border-radius: 20px;
  background-color: #0E3854;
}